<ul class="text-uppercase ml-auto list-inline">
    <li class="list-inline-item">
        <a class="nav-link" href="/Admin">Admin</a>
    </li>
    <li class="list-inline-item">
        <a class="nav-link" href="/Admin/Category">Categories</a>
    </li>
    <li class="list-inline-item">
        <a class="nav-link" href="/Admin/Post">Posts</a>
    </li>
</ul>